.car-form{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.car-pos{
    width: 60vh;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 3px 3px 5px 3px rgb(0, 0, 0);
}
.car-form input{
    border-radius: 20px;
    border: 2px solid black;
    width: 200px;
    height: 25px;  
    text-align: center;  
}

.car-form input:focus{  
    outline: none;
}

.car-form textarea{
    resize: none;
    text-align: center;
}
