.nav-bar{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0; 
    right: 0;
    width: 100vw;
}

.nav-bar ul{
   display: flex;
   justify-content: space-evenly;
}

.nav-link{
    text-decoration: none;
    color: gold;
}