.nav-bar{
    background-color: black;
    width: 100vw;
    height: 40px;
    position: relative;
    top: -14px;
    left: 0px;
}

.nav-bar ul{
   display: flex;
   justify-content: space-evenly;
}

.nav-link{

    text-decoration: none;
    color: gold;
}

.nav-bar ul li{
    margin-top: 10px;
}
.nav-bar ul li:hover{
    cursor: pointer;
}
